 @charset "utf-8";

body {
	margin: 0;
	padding: 0;
	background: #990809;
	font-size: 14px;
	}
#wrapper {
	margin: 20px;
	padding: 5px;
	padding-bottom: 10px;
	background: #CCCCCC;
	width: auto;
	box-shadow: 0 1px 6px #222;
	border-radius: 8px;
}
#main {
	margin-top: 50px;
}
#main p {
	font-size: 20px;
}
#main h1 {
	text-align: center;
	font-size: 40px;
}
#main p, img {
	padding-left: 20px;
}
#main img {
	display: block;
	height: 500px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	float: left;
	position: relative;
	padding-bottom: 0px;
}
#logo img {
	height: 120px;
	width: auto;
}
#nav {
	height: 60px;
	background: #990809;
}
#nav ul li {
	padding-top: 5px;
	list-style-type: none;
	margin: 15px;
	float: left;
}
#nav ul li a {
	overflow: hidden;
	font-size: 30px;
	color: white;
	text-decoration: none;
}
#radnovreme li {
	list-style-type: none;
}
#kontakt{
	padding-left: 40px;
	float: left;
	witdth: 100px;
	position: absolute;
}
#adresa {
	padding-right: 50px;
	width: 300px;
	float: right;
	position: relative;
	margin-bottom: 30px;
}
#footer {
	text-align: center;
	clear: both;
	height: 40px auto;
	background: #990809;
	text-align: right;
	color: white;
}
input[type=text], select, textarea {
	width: 100%;	
	padding: 12px;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}
input[type=submit] {
  	background-color: #990809;
  	color: white;
  	padding: 12px 20px;
  	border-radius: 4px;
  	cursor: pointer;
}
input[type=submit]:hover {
  	background-color: #990809;
}
.kontaktforma {
	margin: 20px;
  	width: 600px;
  	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
}
@media screen and (min-width:400px) and (max-width:768px) {
	#main {
		margin-top: 30px;
	}
	#main p {
		font-size: 17px;
	}
	#main h1 {
		font-size: 30px;
	}
	#logo img {
		height: 80px;
		width: auto;
	}
	#nav {
		height: 40px;
		background: #990809;
	}
	#main img {
		display: block;
		height: 200px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	#main img #salon {
		width: 100px;
		height: auto;
	}
	#nav ul li a {
		overflow: hidden;
		font-size: 15px;
		color: white;
		text-decoration: none;
	}
	#nav ul li {
		padding-top: 8px;
		list-style-type: none;
		margin: 5px;
		float: left;
	}
	#kontakt{
		padding-left: 40px;
		float: left;
		witdth: 100px;
		position: relative;
	}
	#adresa {
		padding-left: 40px;
		width: 330px;
		margin-bottom: 30px;
	}
	#adresa h3 {
		padding-left: 50px;
	}
	input[type=text], select, textarea {
		width: 100%;
  		padding: 12px;
 		border: 1px solid #ccc;
 		border-radius: 4px;
  		box-sizing: border-box;
  		margin-top: 6px;
  		margin-bottom: 16px;
  		resize: vertical;
	}
	input[type=submit] {
  		background-color: #990809;
  		color: white;
  		padding: 12px 20px;
  		border-radius: 4px;
  		cursor: pointer;
	}
	input[type=submit]:hover {
  		background-color: #990809;
	}
	.kontaktforma {
		margin: 20px;
  		width: 600px;
  		border-radius: 5px;
  		background-color: #f2f2f2;
  		padding: 250px;
	}
}
@media screen and (min-width:769px) and (max-width:1080px) {
	#main {
		margin-top: 50px;
	}
	#main p {
		font-size: 22px;
	}
	#main h1 {
		font-size: 40px;
	}
	#logo img {
		height: 110px;
		width: auto;
	}
	#nav {
		margin-top: 15px;
		height: 60px;
		background: #990809;
	}
	#main img {
		display: block;
		height: 340px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	#main img #salon {
		width: 200px;
		height: auto;
	}
	#nav ul li a {
		overflow: hidden;
		font-size: 25px;
		color: white;
		text-decoration: none;
	}
	#nav ul li {
		padding-top: 15px;
		list-style-type: none;
		margin: 5px;
		float: left;
	}
	#kontakt{
		padding-left: 140px;
		float: left;
		witdth: 100px;
		position: relative;
	}
	#adresa {
		padding-right: 140px;
		width: 330px;
		margin-bottom: 30px;
	}
	#adresa h3 {
		padding-left: 50px;
	}
		input[type=text], select, textarea {
		width: 100%;
  		padding: 12px;
 		border: 1px solid #ccc;
 		border-radius: 4px;
  		box-sizing: border-box;
  		margin-top: 6px;
  		margin-bottom: 16px;
  		resize: vertical;
	}
	input[type=submit] {
  		background-color: #990809;
  		color: white;
  		padding: 12px 20px;
  		border-radius: 4px;
  		cursor: pointer;
	}
	input[type=submit]:hover {
  		background-color: #990809;
	}
	.kontaktforma {
		margin: 20px;
  		width: 600px;
  		border-radius: 5px;
  		background-color: #f2f2f2;
  		padding: 20px;
	}
	
}
@media screen and (min-width:1081px){
	body {
		margin: 0;
		padding: 0;
		background: #990809;
		font-size: 14px;
	}
	#wrapper {
		margin: 20px;
		padding: 5px;
		padding-bottom: 10px;
		background: #CCCCCC;
		width: auto;
		box-shadow: 0 1px 6px #222;
		border-radius: 8px;
	}
	#main {
		margin-top: 40px;
	}
	#main p {
		font-size: 20px;
	}
	#main h1 {
		text-align: center;
		font-size: 40px;
	}
	#main p, img {
		padding-left: 20px;
	}
	#main img {
		display: block;
		height: 500px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	#logo {
		float: left;
		position: relative;
		padding-bottom: 0px;
	}
	#logo img {
		height: 120px;
		width: auto;
	}
	#nav {
		height: 60px;
		background: #990809;
	}
	#nav ul li {
		padding-top: 5px;
		list-style-type: none;
		margin: 15px;
		float: left;
	}
	#nav ul li a {
		overflow: hidden;
		font-size: 30px;
		color: white;
		text-decoration: none;
	}
	#radnovreme li {
		list-style-type: none;
	}
	#kontakt{
		padding-left: 180px;
		float: left;
		witdth: 100px;
		position: absolute;
	}
	#adresa {
		padding-right: 250px;
		width: 300px;
		float: right;
		position: relative;
		margin-bottom: 30px;
	}
	#adresa h3 {
		font-size: 22px;
		text-align: center;
	}
	#adresa img {
		width: 400px;
		height: auto;
	}
	#footer {
		text-align: center;
		clear: both;
		height: 40px auto;
		background: #990809;
		text-align: right;
		color: white;
	}
	
	input[type=text], select, textarea {
		width: 100%;
  		padding: 12px;
 		border: 1px solid #ccc;
 		border-radius: 4px;
  		box-sizing: border-box;
  		margin-top: 6px;
  		margin-bottom: 16px;
  		resize: vertical;
	}
	input[type=submit] {
  		background-color: #990809;
  		color: white;
  		padding: 12px 20px;
  		border-radius: 4px;
  		cursor: pointer;
	}
	input[type=submit]:hover {
  		background-color: #990809;
	}
	.kontaktforma {
		margin: 20px;
  		width: 600px;
  		border-radius: 5px;
  		background-color: #f2f2f2;
  		padding: 20px;
	}
	
}